// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$grey: #EAEAEA;
$blue: #2D3355;
$text-grey: #8B8B8B;
$yellow: #FFD34E;
$black: #1E1E1E;
